* {
    box-sizing:border-box;
}

body {
    background-color: rgb(0, 255, 106);
}

#main-paragraph {
    font-size: 2.1vw;
}

.navbar-brand {
    font-size: 40px;
    font-family: 'Russo One', sans-serif;
}

.nav-link {
    font-family: 'Russo One', sans-serif;
}

#second-row-port {
    padding-bottom: 20px;
    text-align: center;
}

#first-row-port {
    padding-top: 20px;
    text-align: center;
}

.section-header {
    border-block-end-style: double;
    color: white;
    text-align: center;
    font-family: 'Russo One', sans-serif;

}

.container {
    border-style: double;
}

footer {
    color: white;
    border-color: black;
}
.contact-header {
    border-block-end-style: double;
    font-family: 'Russo One', sans-serif;
    text-align: center;
    color: white;
    font-family: 'Russo One', sans-serif;
    
}
.port-header {
    border-block-end-style: double;
    text-align: center;
    color: white;
    font-family: 'Russo One', sans-serif;
}

.mypic {
    max-width: 100%;
    height: auto;
}

@media screen and (max width: 989px)   {

}
@media screen and (max width: 768px)   {
    .mypic {
        width: 100%;
        height: 100%;
    }

}
@media screen and (max width: 640px)   {
 
    .mypic {
        width: 100%;
        height: 100%;
    }
    #main-paragraph {
        font-size: 15px;
    }
}