* {
    box-sizing:border-box;
}

body {
    background-color: rgb(35, 121, 136);
}

#main-paragraph {
    font-size: 1.5vw;
    color:rgb(228, 221, 205);
}

.navbar-brand {
    font-size: 40px;
    font-family: 'Lexend Zetta', sans-serif;
}

.nav-link {
    font-family: 'Lexend Zetta', sans-serif;
}

#second-row-port {
    padding-bottom: 20px;
    text-align: center;
}

#first-row-port {
    padding-top: 20px;
    text-align: center;
}

.img-thumbnail {
    padding: .1rem;
    background-color: rgb(228, 221, 205);
    border: 1px double rgb(228, 221, 205);
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.name {
    color: black;
    font-family: 'Lexend Exa', sans-serif;
}

.section-header {
    border-block-end-style: double;
    color: rgb(228, 221, 205);
    text-align: center;
    font-family: 'Lexend Zetta', sans-serif;

}

.container {
    position: relative;
    border-style: double;
    clear: both;
}

footer {
    color: rgb(228, 221, 205);
    border-color: black;
}
.contact-header {
    border-block-end-style: double;
    font-family: 'Lexend Zetta', sans-serif;
    text-align: center;
    color: rgb(228, 221, 205);
    font-family: 'Lexend Zetta', sans-serif;
    
}
.port-header {
    border-block-end-style: double;
    font-family: 'Lexend Zetta', sans-serif;
    text-align: center;
    color: rgb(228, 221, 205);
    font-family: 'Lexend Zetta', sans-serif;
    
}

.word-guess {
    position: absolute;
    padding: 5px 5px 0px 5px;
    margin: 150px 0px 0px 75px;
    background-color: black;
    color:  rgb(228, 221, 205);
    font-family: 'Lexend Zetta', sans-serif;
}

.ccg-game {
    position: absolute;
    padding: 5px 5px 0px 5px;
    margin: 150px 0px 0px 411px;
    background-color: black;
    color:  rgb(228, 221, 205);
    font-family: 'Lexend Zetta', sans-serif;
}

.trivia-game {
    position: absolute;
    padding: 5px 5px 0px 5px;
    margin: 150px 0px 0px 105px;
    background-color: black;
    color:  rgb(35, 121, 136);
    font-family: 'Lexend Zetta', sans-serif;
}

.psychic-game {
    position: absolute;
    padding: 5px 5px 0px 5px;
    margin: 150px 0px 0px 850px;
    background-color: black;
    color:  rgb(35, 121, 136);
    font-family: 'Lexend Zetta', sans-serif;
}
.giphy {
    position: absolute;
    padding: 5px 5px 0px 5px;
    margin: 150px 0px 0px 485px;
    background-color: black;
    color:  rgb(35, 121, 136);
    font-family: 'Lexend Zetta', sans-serif;
}

.basher {
    position: absolute;
    padding: 5px 5px 0px 5px;
    margin: 150px 0px 0px 898px;
    background-color: black;
    color:  rgb(35, 121, 136);
    font-family: 'Lexend Zetta', sans-serif;
}

#githubImg {
    margin-top: 5px;
}

#email {
    font-size: 15px;
    border-style: solid;
    text-align: center;
    color: black;
}

#contactBtn {
    color:  rgb(228, 221, 205);
    background-color:  rgb(228, 221, 205);
    margin-bottom: 15px;
    border-color: black;
}

.img-fluid {
    margin: 20px 0px 20px;
}

@media only screen and (max-width: 1200px)   {
    .word-guess {
        position: absolute;
        padding: 5px 5px 0px 5px;
        margin: 150px 0px 0px 80px;
        background-color: black;
        color:  rgb(35, 121, 136);
        font-family: 'Lexend Zetta', sans-serif;
    }
    .ccg-game {
        position: absolute;
        padding: 5px 5px 0px 5px;
        margin: 150px 0px 0px 375px;
        background-color: black;
        color:  rgb(35, 121, 136);
        font-family: 'Lexend Zetta', sans-serif;
    }
    .psychic-game {
        position: absolute;
        padding: 5px 5px 0px 5px;
        margin: 150px 0px 0px 740px;
        background-color: black;
        color:  rgb(35, 121, 136);
        font-family: 'Lexend Zetta', sans-serif;
    }
    .trivia-game {
        position: absolute;
        padding: 5px 5px 0px 5px;
        margin: 150px 0px 0px 110px;
        background-color: black;
        color:  rgb(35, 121, 136);
        font-family: 'Lexend Zetta', sans-serif;
    }
    .giphy {
        position: absolute;
        padding: 5px 5px 0px 5px;
        margin: 150px 0px 0px 422px;
        background-color: black;
        color:  rgb(35, 121, 136);
        font-family: 'Lexend Zetta', sans-serif;
    }

    .basher {
        position: absolute;
        padding: 5px 5px 0px 5px;
        margin: 150px 0px 0px 740px;
        background-color: black;
        color:  rgb(35, 121, 136);
        font-family: 'Lexend Zetta', sans-serif;
    }
}
@media only screen and (max-width: 991px)   {
    .word-guess {
        position: absolute;
        padding: 5px 5px 0px 5px;
        margin: 90px 0px 0px 40px;
        background-color: black;
        color:  rgb(35, 121, 136);
        font-family: 'Lexend Zetta', sans-serif;
    }
    .ccg-game {
        position: absolute;
        padding: 5px 5px 0px 5px;
        margin: 90px 0px 0px 258px;
        background-color: black;
        color:  rgb(35, 121, 136);
        font-family: 'Lexend Zetta', sans-serif;
    }
    .psychic-game {
        position: absolute;
        padding: 5px 5px 0px 5px;
        margin: 90px 0px 0px 540px;
        background-color: black;
        color:  rgb(35, 121, 136);
        font-family: 'Lexend Zetta', sans-serif;
    }
    .trivia-game {
        position: absolute;
        padding: 5px 5px 0px 5px;
        margin: 90px 0px 0px 70px;
        background-color: black;
        color:  rgb(35, 121, 136);
        font-family: 'Lexend Zetta', sans-serif;
    }
    .giphy {
        position: absolute;
        padding: 5px 5px 0px 5px;
        margin: 90px 0px 0px 300px;
        background-color: black;
        color:  rgb(35, 121, 136);
        font-family: 'Lexend Zetta', sans-serif;
    }
    .basher {
        position: absolute;
        padding: 5px 5px 0px 5px;
        margin: 90px 0px 0px 560px;
        background-color: black;
        color:  rgb(35, 121, 136);
        font-family: 'Lexend Zetta', sans-serif;
    }
}
@media only screen and (max-width: 767px)   {
    #main-paragraph {
        font-size: 1.9vw;
    }
    .word-guess {
        position: absolute;
        padding: 5px 5px 0px 5px;
        margin: 170px 0px 0px 190px;
        background-color: black;
        color:  rgb(35, 121, 136);
        font-family: 'Lexend Zetta', sans-serif;
    }
    .ccg-game {
        position: absolute;
        padding: 5px 5px 0px 5px;
        margin: 440px 0px 0px 170px;
        background-color: black;
        color:  rgb(35, 121, 136);
        font-family: 'Lexend Zetta', sans-serif;
    }
    .psychic-game {
        position: absolute;
        padding: 5px 5px 0px 5px;
        margin: 680px 0px 0px 210px;
        background-color: black;
        color:  rgb(35, 121, 136);
        font-family: 'Lexend Zetta', sans-serif;
    }
    .trivia-game {
        position: absolute;
        padding: 5px 5px 0px 5px;
        margin: 170px 0px 0px 220px;
        background-color: black;
        color:  rgb(35, 121, 136);
        font-family: 'Lexend Zetta', sans-serif;
    }
    .giphy {
        position: absolute;
        padding: 5px 5px 0px 5px;
        margin: 430px 0px 0px 215px;
        background-color: black;
        color:  rgb(35, 121, 136);
        font-family: 'Lexend Zetta', sans-serif;
    }
    .basher {
        position: absolute;
        padding: 5px 5px 0px 5px;
        margin: 700px 0px 0px 210px;
        background-color: black;
        color:  rgb(35, 121, 136);
        font-family: 'Lexend Zetta', sans-serif;
    }

}
@media only screen and (max-width: 582px)   {
    #main-paragraph {
        font-size: 2.5vw;
    }
    .word-guess {
        position: absolute;
        padding: 5px 5px 0px 5px;
        margin: 170px 0px 0px 155px;
        background-color: black;
        color:  rgb(35, 121, 136);
        font-family: 'Lexend Zetta', sans-serif;
    }
    .ccg-game {
        position: absolute;
        padding: 5px 5px 0px 5px;
        margin: 430px 0px 0px 130px;
        background-color: black;
        color:  rgb(35, 121, 136);
        font-family: 'Lexend Zetta', sans-serif;
    }
    .psychic-game {
        position: absolute;
        padding: 5px 5px 0px 5px;
        margin: 710px 0px 0px 170px;
        background-color: black;
        color:  rgb(35, 121, 136);
        font-family: 'Lexend Zetta', sans-serif;
    }
    .trivia-game {
        position: absolute;
        padding: 5px 5px 0px 5px;
        margin: 170px 0px 0px 175px;
        background-color: black;
        color:  rgb(35, 121, 136);
        font-family: 'Lexend Zetta', sans-serif;
    }
    .giphy {
        position: absolute;
        padding: 5px 5px 0px 5px;
        margin: 440px 0px 0px 175px;
        background-color: black;
        color:  rgb(35, 121, 136);
        font-family: 'Lexend Zetta', sans-serif;
    }
    .basher {
        position: absolute;
        padding: 5px 5px 0px 5px;
        margin: 700px 0px 0px 175px;
        background-color: black;
        color:  rgb(35, 121, 136);
        font-family: 'Lexend Zetta', sans-serif;
    }

}